{erl_opts, [debug_info]}.
{deps, [
  {aiml_model_wrapper, {git_subdir, "git@github.com:greyorange/gm_aiml_models.git", {branch, "erlang-wrapper"}, "aiml_model_wrapper/erlang/aiml_model_wrapper"}}  % {aiml_model_wrapper, {git, "git@github.com:UnresolvedCold/test_wrapper.git", {branch, "main"}}}
  % {aiml_model_wrapper, {git, "https://github.com/greyorange/gm_aiml_models/tree/erlang-wrapper/aiml_model_wrapper/erlang/aiml_model_wrapper", {branch, "erlang-wrapper"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [demo]}
]}.
